@use '../../../../styles/mixins';
@use '../../../../styles/shared';
@use '../../../../styles/vars' as * ;

.benefits {
    padding: 30px 0 58px;
}

.slider {
    padding: 70px 0;
    // display: flex;
    // flex-direction: column;
    // gap: 30px;
    // width: 90%;
}

.benefitsSliderForMobile {
    display: none;
}

.imgMobile {
    display: none;
}

@media (max-width: 375px) {
    .slider {
        padding: 32px 0 20px;
    }
    .benefitsSlider {
        display: none;
    }
    .benefitsSliderForMobile {
        display: block;
    }
    .img {
        display: none;
    }
    .imgMobile {
        display: block ;
    }
}