@use "sass:math";
@use './vars' as * ;

@mixin font($f-s, $l-h) {
    font-size: $f-s;
    line-height: math.div($l-h,$f-s);
}

@mixin btn($b-color, $p-t-b, $p-l-r, $color: $black, $b-r: 5px) {
    background: $b-color;
    padding: $p-t-b $p-l-r;
    color: $color;
    border-radius: $b-r;

}